$surface: #0d0c1c;
$surface-bright: #19182d;
$surface-container: #2a2a38;
$surface-container-high: #3e3b64;
$on-surface: #fff;
$on-surface-variant: #a3a3a9;
$on-surface-variant-alt: #5e5d68;
$on-surface-icon: #8c8b93;
$outline: #353441;
$outline-variant: #1e1d31;
$primary: #ffb97d;
$on-primary: #0d0c1c;
$secondary: #fff;
$on-secondary: #111620;
$err-primary: #ed7979;

$negative-balance: #e33f39;
$positive-balance: #61b212;

$buy-side: #4bff88;
$sell-side: #ff6262;
